<!doctype html>
<html>
<head>
  {% block head %}
    <meta charset="utf-8">
    <title>{{menu['title']}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  	<!-- 引入样式 -->
  	 <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" /> 
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/material-dashboard@2.1.0/assets/css/material-dashboard.min.css">	
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css"> 
<!-- 	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/material-dashboard@2.1.0/assets/demo/demo.css"> -->
  {% endblock %}
</head>
<body>


 <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="//cdn.jsdelivr.net/npm/material-dashboard@2.1.0/assets/img/sidebar-1.jpg">
 
      <div class="logo">
        <a href="javascript:void(0);" class="simple-text logo-normal">
          优思好店
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" href="javascript：void(0);">
              <i class="material-icons">store</i>
              <p>首页</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="javascript:void(0);">
              <i class="material-icons">bubble_chart</i>
              <p>商品</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript：void(0);">
              <i class="material-icons">person</i>
              <p>会员</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="javascript:void(0);">
              <i class="material-icons">content_paste</i>
              <p>订单</p>
            </a>
          </li>
                
          <li class="nav-item ">
            <a class="nav-link" href="javascript：void(0);">
              <i class="material-icons">settings</i>
              <p>设置</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/manage/logout">
              <i class="material-icons">power_settings_new</i>
              <p>退出</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->   

      {% block nav %}


      {% endblock %}  
      <!-- End Navbar -->
      <div class="content" style="padding: 0px;margin: 16px;">

      	{% block content %}


		    {% endblock %}

       
      </div>
  
    </div>
  </div>




  <!--   Core JS Files   -->
  <script src="//cdn.jsdelivr.net/npm/material-dashboard@2.1.0/assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="//cdn.jsdelivr.net/npm/material-dashboard@2.1.0/assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="//cdn.jsdelivr.net/npm/material-dashboard@2.1.0/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="//cdn.jsdelivr.net/npm/material-dashboard@2.1.0/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Chartist JS -->
 <!--  <script src="//cdn.jsdelivr.net/npm/material-dashboard@2.1.0/assets/js/plugins/chartist.min.js"></script> -->
  <!--  Notifications Plugin    -->
<!--   <script src="//cdn.jsdelivr.net/npm/material-dashboard@2.1.0/assets/js/plugins/bootstrap-notify.js"></script> -->
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="//cdn.jsdelivr.net/npm/material-dashboard@2.1.0/assets/js/material-dashboard.js?v=2.1.0" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <!-- <script src="//cdn.jsdelivr.net/npm/material-dashboard@2.1.0/assets/demo/demo.js"></script> -->

<!-- <script type="text/javascript" src="//cdn.jsdelivr.net/npm/jquery"></script> -->


{% block script%}
  
{% endblock %}

</body>
</html>